/* #region header  */
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btn a:nth-child(2) {
    margin: 0 16px;
}

.header-btn a:first-child {
    background: #fff;
    color: #389e0d;
    border: 1px solid #389e0d;
    border-radius: 30px;
}

a:hover {
    text-decoration: none;
}

.header-btn > a > img {
    padding-right: 7px;
}

.header-btn a {
    padding: 4px 20px;
    min-width: 125px;
    text-align: center;
    height: 33px;
    line-height: 19px;
}

.header-btn a:nth-child(2) {
    color: #ff8917;
    background-color: #fff;
    border: 1px solid #ff8917;
    border-radius: 5px;
}

.header-btn a:nth-child(3) {
    background: #fa8c16;
    color: #fff;
    border: 1px solid #fa8c16;
    border-radius: 5px;
}
/* #endregion */


/* #region banner */
.banner {
    background: url(/images/bannerV2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 16px 0;
}

.form-ctn {
    background: #fff;
    max-width: 442px;
    border-radius: 8px;
}

.form-title {
    background: #fff7e6;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    border-radius: 8px;
}

.form-ctn > form > .row {
    padding: 16px;
}

.combo-ctn {
    display: flex;
    justify-content: space-between;
    background: #fff7e6;
    border-radius: 2px;
    border: 1px solid #fa8c16;
    padding: 16px 20px;
    align-items: center;
    margin-bottom: 12px;
}

div#Combo {
    font-size: 16px;
    font-weight: 600;
}

div#ComboValue {
    color: #cf1322;
    font-weight: 600;
}

span.text-bold {
    font-size: 22px;
}
/* #endregion */